.App {
  font-family:'Segoe UI';
  padding: 2em;
}
input {
  margin: 0 1em;
}
p,
i {
  font-size: 14px;
}
.App-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.App-header img {
  width: 150px;
}
.App-header h1 {
  color: rgb(236, 41, 41);
}

.App hr {
  color: rgb(236, 41, 41);
  border: 0px;
  background-color: rgb(236, 41, 41);
  height: 3px;
}


.App-body {
  padding: 2em;
  height: 400px;
}
.App-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}